language: android
android:
    components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools

    # The BuildTools version used by your project
    - build-tools-28.0.3

    # The SDK version used to compile your project
    - android-26
before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -y sendemail libnet-ssleay-perl libcrypt-ssleay-perl libnet-https-any-perl libio-socket-ssl-perl
script:
    - ./gradlew clean sdk:testDebugUnitTest
    # - travis_wait 50 bash IntegrationTesting.sh
